<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo clearfix">
                    <div class="logo__image">
                        LOGO
                    </div>
                    <div class="logo__descr">
                        Фабрика фотообоев в КИЕВЕ
                        изготовЛение фотообоев
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-3 col-sm-12">
                <div class="contacts">
                    <a class="contacts__tel" href="tel:+380442782100"> 044 278 21 00</a>
                    <button class="button contacts__button">Обратный звонок</button>
                </div>
            </div>
        </div>
    </div>
</header>
