<nav class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 clearfix">

                <input type="checkbox" id="menu__switcher">
                <label for="menu__switcher" class="menu-small">
                    <span></span><span></span><span></span>
                </label>
                <ul class="menu clearfix">
                    <li class="menu__item"><a href="#">главная</a></li>
                    <li class="menu__item"><a href="#">для детСкой</a></li>
                    <li class="menu__item"><a href="#">для спальни</a></li>
                    <li class="menu__item"><a href="#">для кухни</a></li>
                    <li class="menu__item"><a href="#">контакты</a></li>
                </ul>
            </div>
        </div>
    </div>

</nav>