<section class="slider-content">
    <div class="container">
        <div class="row slider-title">
            <div class="col-md-8 col-sm-12 clearfix">
                <div class="slider-header skew-box">
                    <h1 class="slider-header__text">фотообои</h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 clearfix">
                <div class="slider-descr skew-box">
                    <div class="slider-descr__text">Для зала</div>
                </div>
                <div class="slider-price skew-box skew-box--green">
                    <div class="slider-price__text">
                        от <span class="slider-price__number">50</span>$/м<sup>2</sup>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="slider-text">
                    Более 6000 идей фотообоев<br>
                    для ГОСТИНОЙ
                </div>
                <a href="#" class="button button--big button--bordered ">Смотреть идеи</a>
                <div id="slider-controls">
                    <button class="slider__prev"></button>
                    <button class="slider__next"></button>

                </div>
            </div>

        </div>
    </div>
</section>